<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint name="FileRepositoryService"
				address="http://localhost:5000"
				binding="basicHttpBinding"
				contract="FileServerWinClient.IFileRepositoryService"
				bindingConfiguration="customTcpBinding" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="customTcpBinding" messageEncoding="Mtom"  maxBufferSize="180480000"   maxBufferPoolSize="180480000" maxReceivedMessageSize="180480000" transferMode="Streamed"  sendTimeout="0:30:0"  openTimeout="0:30:0" closeTimeout="00:30:0" receiveTimeout="00:30:0" >
          <readerQuotas maxBytesPerRead="16384" />           
            <security mode="None">
              <transport clientCredentialType="None"/>
            </security>
        </binding>
      </basicHttpBinding> 
    </bindings>
  </system.serviceModel>
</configuration>