<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="RepositoryDirectory" value="storage"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="FileServer.Services.FileRepositoryService">
				<endpoint name="FileServer.Services.FileRepositoryService" binding="netTcpBinding" address="net.tcp://localhost:5000" contract="FileServer.Services.IFileRepositoryService" bindingConfiguration="customTcpBinding"/>
			</service>
		</services>
    <client>
      <endpoint name="FileRepositoryService" address="net.tcp://localhost:5000" binding="netTcpBinding" contract="FileServer.Services.IFileRepositoryService" bindingConfiguration="customTcpBinding"/>
    </client>
    <bindings>
			<netTcpBinding>
				<binding name="customTcpBinding" transferMode="Streamed" maxReceivedMessageSize="20480000" sendTimeout="0:10:20"  />
        <binding >
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
		</bindings>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
