<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OnFieldStorageManagmentApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="GojiWCFStreamingBaseApi.FileRepositoryService" behaviorConfiguration="debug">
        <endpoint name="GojiWCFStreamingBaseApi.FileRepositoryService" binding="basicHttpBinding" address="http://localhost:5000" contract="GojiWCFStreamingBaseApi.IFileRepositoryService" bindingConfiguration="customTcpBinding"/>
      </service>
    </services>
    <client>
      <endpoint name="FileRepositoryService" address="http://localhost:5000" binding="basicHttpBinding" contract="GojiWCFStreamingBaseApi.IFileRepositoryService" bindingConfiguration="customTcpBinding"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="customTcpBinding" messageEncoding="Mtom"  maxBufferSize="80480000" maxBufferPoolSize="80480000" transferMode="Streamed" maxReceivedMessageSize="80480000" sendTimeout="1:10:20" receiveTimeout="1:10:20" openTimeout="0:10:0" closeTimeout="0:10:0">
          <readerQuotas maxBytesPerRead="16384" />
        </binding>       
        <binding>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <userSettings>
    <OnFieldStorageManagmentApp.Properties.Settings>
      <setting name="FieldIpAddress" serializeAs="String">
        <value>192.168.21.104</value>
      </setting>
      <setting name="FieldComputerUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="FieldComputerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="StorageServerUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="StorageServerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="FieldDirectoryToMinotor" serializeAs="String">
        <value>c:\goji\ToSend</value>
      </setting>
      <setting name="StorageDirectoryToUpload" serializeAs="String">
        <value>r:\</value>
      </setting>
      <setting name="UploadMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DeleteAllUploadedFilesEvery" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeleteAllUploadedFilesTimer" serializeAs="String">
        <value>12:00:00</value>
      </setting>
      <setting name="StartWatchWrongFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="uploadWrongFilesDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="SyncDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="RecoursiveSync" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OperatorUserName" serializeAs="String">
        <value>Shamay</value>
      </setting>
      <setting name="OperationsByUser" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WatsonRunning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddDateToUploadDir" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TriggeTime" serializeAs="String">
        <value>0:0:1</value>
      </setting>
    </OnFieldStorageManagmentApp.Properties.Settings>
  </userSettings>
</configuration>