<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="FileServerWinClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <system.serviceModel>
		<client>
			<endpoint name="FileRepositoryService" address="net.tcp://localhost:5000" binding="netTcpBinding" contract="FileServer.Services.IFileRepositoryService" bindingConfiguration="customTcpBinding"/>
		</client>

		<bindings>
			<netTcpBinding>
				<binding name="customTcpBinding" maxReceivedMessageSize="20480000" transferMode="Streamed" receiveTimeout="0:10:20" openTimeout="0:10:20" maxConnections="100" sendTimeout="0:10:20"/>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
 <userSettings>
  <FileServerWinClient.Properties.Settings>
   <setting name="MonitorDirectory" serializeAs="String">
    <value>c:\mpfmtests</value>
   </setting>
   <setting name="FilterIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="IncludeSubDir" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ServerAddress" serializeAs="String">
    <value>192.168.26.16</value>
   </setting>
  </FileServerWinClient.Properties.Settings>
 </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
