<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.22.32:8030/MyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService" contract="ServiceReference1.IService"
                name="NetTcpBinding_IService">
                <identity>
                    <userPrincipalName value="elia@RF-Dynamics.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>